.image-hero {
  display: block;
  width: 100%;
  height: auto;
  max-width: 640px;
  margin: 0 auto;
}
.st0 {
  opacity: 0.7;
  fill: #ca4941;
}
.st1 {
  fill: #33384c;
}
.st2 {
  fill: #777a88;
}
.st3 {
  fill: #494e60;
}
.st4 {
  fill: none;
  stroke: #777a88;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st5 {
  opacity: 0.5;
  fill: none;
  stroke: #777a88;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st6 {
  opacity: 0.5;
  fill: #33384c;
}
.st7 {
  opacity: 0.5;
  fill: none;
  stroke: #33384c;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st8 {
  fill: none;
  stroke: #e0e1e3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st9 {
  opacity: 0.5;
  fill: none;
  stroke: #ca4941;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st10 {
  opacity: 0.5;
  fill: none;
  stroke: #e0e1e3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st11 {
  fill: #606474;
}

.st12 {
  fill: none;
  stroke: #ca4941;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st13 {
  opacity: 0.8;
}
.st14 {
  fill: #d2d3d7;
}
.st15 {
  opacity: 0.5;
  fill: none;
  stroke: #ca4941;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st16 {
  opacity: 0.5;
  fill: #ca4941;
}
.st17 {
  fill: none;
  stroke: #33384c;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
