:root {
  --primary-color: #ca4941;

  --secondary-color: #1c2238;
  --secondary-color-90: #33384c;
  --secondary-color-80: #494e60;
  --secondary-color-70: #606474;
  --secondary-color-60: #777a88;
  --secondary-color-20: #d2d3d7;
  --secondary-color-10: #e8e9eb;

  --white: #f1f1f1;
  --black: #111111;
  --light-grey: #e6e6e6;

  --success-color: #7fc6b9;
  --success-color-dark: #094c3f;

  --font-family-basic: "Montserrat", sans-serif;
  --font-size-basic: 1rem;
  --font-bold: 600;

  --container-max-width: 1360px;

  --nav-height: 80px;

  --basic-spacer: 1rem;
}
