:root {
  --primary-color: rgb(202, 73, 65);

  --secondary-color-rgb: 28, 34, 56;
  --secondary-color: rgb(var(--secondary-color-rgb));
  --secondary-color-90: rgb(51, 56, 76);
  --secondary-color-80: rgb(73, 78, 96);
  --secondary-color-70: rgb(96, 100, 116);
  --secondary-color-60: rgb(119, 122, 136);
  --secondary-color-20: rgb(210, 211, 215);
  --secondary-color-10: rgb(232, 233, 235);

  --white: rgb(241, 241, 241);

  --black: rgb(17, 17, 17);

  --grey-20: rgb(223, 225, 227);
  --grey-30: rgb(230, 230, 230);

  --primary-text-color: var(--white);

  --secondary-text-color: var(--secondary-color);

  --success-color: rgb(127, 198, 185);
  --success-color-dark: rgb(9, 76, 63);

  --font-family-basic: "Montserrat", sans-serif;
  --font-size-basic: 1rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --container-max-width: 1360px;

  --transition-default: 0.3s ease-in-out;

  --navbar-height: 80px;

  --basic-spacer: 1rem;
}
